* {
    box-sizing: border-box;
}
body {
    font-family: Inter, sans-serif;
    background: #F5F7FB;
}
button {
    background-color: #4D5B9E;
    color: #FFF;
    border-radius: 10px;
    padding: .5em 1em;
    border: none;
    margin: 30px 10px;
    cursor: pointer;
}
.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 700px;
    /* height: 550px; */
    background: #F5F7FB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.question {
    width: 90%;
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: 1px solid #4D5B9E;
    font-size: .8rem;
    color: #293264;
}
.answers {
    display: flex;
    flex-wrap: wrap;
}
.answer {
    font-size: .75rem;
    font-weight: 500;
    color: #293264;
    border: 1px solid #4D5B9E;
    padding: .45em .9em;
    border-radius: 50px;;
    margin-right: 10px;
    margin-bottom: 5px;
    min-width: 45px;
    text-align: center;
}
.answer:hover {
    background-color: #D6DBF5; 
    color: #293264;
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
}
.footer > span {
    font-weight: 700;
    color: #293264;
}

.game-text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.start-btn {
    padding: 1em 2em; 
    font-family: 'Karla', sans-serif;
    font-size: 1.25rem;  
}

.game-text > h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #293264;
    letter-spacing: 2.5px;
}

.game-text > label {
    font-size: 12px;
    margin-bottom: 15px;
    color:#4D5B9E;
    font-weight: 700;
}
.game-text > p {
    color:#4D5B9E;
}


@media (min-width: 900px) {
    .answer {
        font-size: 1rem;
    }
    .question {
        font-size: 0.9rem;
    }
}
@media (max-width: 450px) {
    button {
        margin-bottom: 3.5em;
    }
}